* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "poppins";
  background-color: #040406;
}
img {
  max-width: 100%;
}
button {
  cursor: pointer;
}
.flex {
  display: flex;
}
.items-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hidden {
  display: none;
}
.block {
  display: block;
}
.bold {
  font-weight: bold;
}
.font-600 {
  font-weight: 600;
}
.text-secondary {
  color: #627eea;
}
.text-primary {
  color: #c5c5c5;
}
.text-white {
  color: #fff;
}
.text-gray {
  color: #6f6f7e;
}
.fs-24 {
  font-size: 24px;
}
.fs-14 {
  font-size: 14px;
}
.fs-22 {
  font-size: 22px;
}
.gap-1 {
  display: grid;
  gap: 1rem;
}
.relative {
  position: relative;
}
.pointer {
  cursor: pointer;
}
.overlay {
  opacity: 0.35;
}
@font-face {
  font-family: "poppins";
  src: url(../src/assets/fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: "poppins";
  src: url(../src/assets/fonts/Montserrat-SemiBold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: "poppins";
  src: url(../src/assets/fonts/Montserrat-Bold.ttf);
  font-weight: bold;
}
.active {
  color: #627eea;
  position: relative;
}
.active::after {
  position: absolute;
  bottom: -25px;
  left: 0;
  content: "";
  width: 100%;
  border-bottom: 2px solid #627eea;
}
@media (max-width: 992px) {
  .active::after {
    bottom: -2px;
  }
}
.tradebox-overlay:after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #0b0819;
  opacity: 0.75;
  height: 110%;
  top: -10%;
}
.main {
  min-height: calc(100vh - 70px);
  display: grid;
  place-items: center;
  padding-right: 15px;
  padding-left: 15px;
}
.main .trade-box {
  gap: 1.3rem;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  max-width: 470px;
  margin: 0 auto;
  padding: 5rem 2.5rem 2.5rem;
  border-radius: 18px;
  background-image: url(../src/assets/img/teadeBox-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 992px) {
  .main .trade-box {
    margin: 4rem auto;
  }
}
@media (max-width: 500px) {
  .main .trade-box {
    padding: 5rem 15px 2.5rem;
    background-position: center;
  }
}
.main .trade-box .top-circle {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: -23px;
  border-radius: 999px;
  width: 69px;
  height: 69px;
  display: grid;
  place-items: center;
  background-color: #1c1731;
}
.main .trade-box .top-circle > div {
  width: 50px;
  height: 50px;
}
.main .trade-box .top-circle > div img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.main .trade-box .select-coin,
.main .trade-box .your-amount,
.main .trade-box .estimated-amount {
  width: 100%;
  height: 60px;
  background: #1c1731;
  border-radius: 10px;
  display: flex;
  padding: 0rem 1.5rem;
  justify-content: space-between;
  align-items: center;
}
.main .trade-box .select-coin .select-item {
  display: flex;
}
.main .trade-box .your-amount {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgba(110, 86, 248, 0.25);
}
.main .trade-box .your-amount input {
  border: none;
  outline: none;
  background: rgba(0, 0, 0, 0);
  width: 90%;
  font-family: "poppins";
}
.main .trade-box .select-coin-icon {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #fff;
}
.main .trade-box .select-coin-icon > div {
  width: 25px;
  height: 25px;
}
.main .trade-box .select-coin-icon > div img {
  border-radius: 50%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.main .trade-box .btn-buy {
  width: 100%;
  height: 50px;
  outline: rgba(0, 0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 90px;
  margin-top: 1.5rem;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0);
  background: linear-gradient(to right, rgb(51, 135, 213), rgb(122, 6, 201));
}
.main .trade-box .btn-buy:hover {
  background: linear-gradient(to right, rgb(45, 136, 221), rgb(130, 7, 212));
}
.main .dropdown-container {
  position: absolute;
  z-index: 33;
  width: 87%;
  height: 82%;
  border-radius: 18px;
  left: 0;
  right: 0;
  top: 12%;
  margin: 0 auto;
  background-color: #181627;
  padding: 1rem;
  animation: popup 0.3s;
}
@media (max-width: 576px) {
  .main .dropdown-container {
    width: 92%;
  }
}
.main .dropdown-container .cross-icon {
  display: flex;
  justify-content: end;
  margin-bottom: 1rem;
}
.main .dropdown-container .cross-icon svg {
  cursor: pointer;
}
.main .dropdown-container .dropdowns {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  cursor: pointer;
}
.main .dropdown-container .dropdowns .coins-scrollbar {
  width: 100%;
  max-height: 18.5rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.main .dropdown-container .dropdowns .search-bar {
  height: 40px;
  border-radius: 50px;
  border: 1px solid rgba(110, 86, 248, 0.25);
  font-size: 14px;
  position: relative;
}
.main .dropdown-container .dropdowns .search-bar .search-icon {
  position: absolute;
  top: 11px;
  left: 16px;
}
.main .dropdown-container .dropdowns .search-bar input {
  color: #d2d2d2;
  padding: 1rem 1rem 1rem 2.8rem;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  outline: rgba(0, 0, 0, 0);
  border: rgba(0, 0, 0, 0);
}
.main .dropdown-container .dropdowns .coin-dropdown {
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.2rem;
  color: #fff;
}
.main .dropdown-container .dropdowns .coin-dropdown .tick-icon {
  display: none;
}
.main .dropdown-container .dropdowns .coin-dropdown:hover {
  background-color: #1b192d;
}
.main .dropdown-container .dropdowns .coin-dropdown:hover .tick-icon {
  display: block;
}
.main .dropdown-container .dropdowns .coin-dropdown .coin-name {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.main .dropdown-container .dropdowns .coin-dropdown .coin-icon {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  overflow: hidden;
}
.main .dropdown-container .dropdowns .coin-dropdown .coin-icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.header {
  height: 70px;
  padding-right: 5rem;
  padding-left: 2rem;
  background: #0b0819;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.5s;
  overflow: hidden;
}
@media (max-width: 992px) {
  .header {
    display: block;
    padding: 1rem 2rem 1rem 2rem;
    text-align: center;
  }
  .header .hidden {
    display: block;
  }
}
.header nav {
  color: #5a5a5a;
  font-size: 1rem;
  margin: 0 auto;
}
@media (min-width: 992px) {
  .header nav {
    height: 100%;
    display: flex;
    align-items: center;
  }
}
.header ul {
  list-style: none;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
  align-items: center;
  gap: 34px;
  height: 100%;
}
@media (max-width: 992px) {
  .header ul {
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
.header ul li {
  padding: 0 1rem;
  cursor: pointer;
}
@media (max-width: 992px) {
  .header ul li {
    padding: 0;
  }
}
.header button {
  padding: 0.78rem 1.65rem;
  font-weight: bold;
  color: #fff;
  background: linear-gradient(94.37deg, #3387d5 -5.94%, #7a06c9 115.34%);
  outline: rgba(0, 0, 0, 0);
  border: rgba(0, 0, 0, 0);
  border-radius: 30px;
}
.header button:hover {
  background: linear-gradient(94.37deg, #1b76cb -5.94%, #8d0de2 115.34%);
}
.h-262 {
  height: 282px;
}
@keyframes popup {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.overflow-hidden {
  overflow: hidden;
}

.rounded {
  border-radius: 50%;
}
